{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Extra Task{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0"><i class="fas fa-plus-circle me-2"></i> Create Extra Task</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fas fa-info-circle me-2"></i> Extra tasks can be assigned to specific users or made available globally.
                </div>
                
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.xp_reward|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.description|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.is_global|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.target_username|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.stock|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.expires_at|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i> Create Task
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
